.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
  background: #ffffff;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.link {
  text-decoration: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section:nth-of-type(3) {
  padding-top: 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.button {
  display: inline-block;
  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.button-close:hover, .button-close:focus {
  fill: #2196f3;
}
.button-modal {
  display: block;
  margin: 0 auto;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.button__icon--end {
  margin-left: 10px;
  fill: currentColor;
}
.button-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 12px;
  color: #ffffff;
}

.buttons-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.buttons__item:not(:last-child) {
  margin-right: 8px;
}
.buttons__portfolio {
  display: inline-block;
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  background-color: #2196f3;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: #212121;
  background: #f5f4fa;
  text-align: center;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.buttons__portfolio:hover, .buttons__portfolio:focus {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.buttons__portfolio--current {
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.connect {
  margin-left: auto;
  font-style: normal;
}
.connect-footer {
  margin-top: 20px;
}
.connect__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.connect__list--footer {
  display: list-item;
}
.connect__item:last-child {
  margin-left: 30px;
}
.connect__item--footer:not(:last-child) {
  margin-bottom: 9px;
}
.connect__item--footer:last-child {
  margin-left: 0;
}
.connect__icons {
  fill: currentColor;
  margin-right: 10px;
}
.connect__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__link:hover, .connect__link:focus {
  color: #2196f3;
}
.connect__link--footer {
  padding: 0;
  margin-left: 0;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__address {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #ffffff;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.connect__address:hover, .connect__address:focus {
  color: #2196f3;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.soc-media {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.soc-media__item {
  width: 44px;
  height: 44px;
}
.soc-media__item + .soc-media__item {
  margin-left: 10px;
}
.soc-media__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #ffffff;
  color: #afb1b8;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media__link:hover, .soc-media__link:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.soc-media__link:last-child {
  margin-left: 0;
}
.soc-media__link--transparent {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-media__icon {
  fill: currentColor;
}

.title {
  font-family: inherit;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.form__input {
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  outline: transparent;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: #212121;
  transition-property: outline, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__input:focus {
  outline: 1px solid #2196f3;
  border-color: #2196f3;
}
.form__input:focus + .form__icon {
  fill: #2196f3;
}
.form__input--footer {
  padding-top: 15px;
  padding-right: 0;
  padding-bottom: 15px;
  padding-left: 16px;
  margin: 0;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
}
.form__input--footer::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.form__label {
  display: block;
  margin-bottom: 4px;
  font-family: inherit;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
}
.form__wrap--information {
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.form__wrap--comment {
  margin-bottom: 20px;
}
.form__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text-area {
  resize: none;
  padding-top: 12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.01em;
  color: #212121;
  transition-property: outline, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.form__text-area:focus {
  outline: 1px solid #2196f3;
  border-color: #2196f3;
}
.form__text-area::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(150%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__item:hover .overlay, .product__item:focus .overlay {
  transform: translatey(0);
}
.overlay > .overlay__text {
  padding: 63px 24px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5555555556;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  opacity: 1;
  transition-property: opacity, visibility;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  padding: 40px;
  transform: translate(-50%, -50%) scale(1);
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}
.modal__title {
  margin-bottom: 12px;
  font-family: inherit;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: #212121;
  text-align: center;
}

.privacy-wrap {
  margin-bottom: 30px;
}

.privacy__label {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}
.privacy__label--link {
  color: #2196f3;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy__label--link:hover {
  color: #188ce8;
}
.privacy__icon-check {
  fill: transparent;
}
.privacy__input:checked + .privacy__label .privacy__icon-check {
  fill: #ffffff;
}
.privacy__icon {
  margin-right: 8.38px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  transition-property: background-color, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.privacy__input:checked + .privacy__label .privacy__icon {
  background-color: #2196f3;
  border-color: #2196f3;
  box-shadow: none;
}

.header {
  border-bottom: 1px;
  border-style: solid;
  border-radius: solid;
  border-color: #eeeeee;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.nav__logo {
  padding-top: 24px;
  padding-bottom: 24px;
}
.nav__logo--dark {
  color: #000000;
}
.nav__logo--light {
  color: #ffffff;
}

.menu {
  display: flex;
  position: relative;
}
.menu__item:not(:last-child) {
  margin-right: 50px;
}
.menu__item:first-child {
  margin-left: 93px;
}
.menu__link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover, .menu__link:focus {
  color: #2196f3;
}
.menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  bottom: -1px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
  opacity: 0;
  transition-property: opacity, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.menu__link:hover::after {
  opacity: 1;
}
.menu__link--current {
  color: #2196f3;
}
.menu__link--current::after {
  opacity: 1;
}

.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero__title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  font-family: inherit;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  letter-spacing: 0.06em;
  color: #ffffff;
  text-transform: uppercase;
}

.benefits__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits__item {
  width: 270px;
  justify-content: center;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__icons {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
}
.benefits__title {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}
.benefits__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.services__title {
  margin-bottom: 50px;
}
.services__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.services__item:not(:last-child) {
  margin-right: 30px;
}
.services__thumb {
  position: relative;
}
.services__lable {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  bottom: 0;
  width: 100%;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}

.team {
  background-color: #f5f4fa;
}
.team__title {
  margin-bottom: 50px;
}
.team__member {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #212121;
}
.team__content {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team__item {
  margin-bottom: 16px;
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: #757575;
}
.team__items:not(:last-child) {
  margin-right: 30px;
}

.benefits__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.benefits__item {
  width: 270px;
  justify-content: center;
}
.benefits__item:not(:last-child) {
  margin-right: 30px;
}
.benefits__icons {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border-radius: 4px;
  height: 120px;
  background-color: #f5f4fa;
}
.benefits__title {
  margin-bottom: 10px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #212121;
  text-transform: uppercase;
}
.benefits__text {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
}

.clients__title {
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.clients__item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}
.clients__item:last-child {
  margin-right: 0;
}
.clients__link {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  outline: transparent;
  color: #afb1b8;
  border-top: 1px;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-radius: 4px;
  border-color: #afb1b8;
  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: #2196f3;
}
.clients__icon {
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__soc-media {
  margin-left: 70px;
}
.footer__text {
  margin-bottom: 20px;
  font-family: inherit;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-transform: uppercase;
}
.footer__subscribe {
  margin-left: auto;
}

.product {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.product__item {
  flex-basis: calc((100% - 60px) / 3);
}
.product__link {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.product__link:hover, .product__link:focus {
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}
.product__thumb {
  position: relative;
  overflow: hidden;
}
.product__description {
  padding: 20px 24px;
  color: #ffffff;
  border-bottom: 1px;
  border-left: 1px;
  border-right: 1px;
  border-style: solid;
  border-color: #eeeeee;
}
.product__name {
  font-family: inherit;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.product__category {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.abbr {
  text-transform: uppercase;
}/*# sourceMappingURL=main.css.map */